# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log

# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Misc
*.bak
*.swp
*.tmp
*.temp
*.pid
*.seed

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Other
.env
venv