/* src/components/CreatePost.css */
.create-post-container {
    padding: 20px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    text-align: center;
    color: #333;
  }
  
  .error-message {
    color: red;
    text-align: center;
  }
  
  .post-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .jodit-editor {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    min-height: 200px; /* Ensure a minimum height for the editor */
  }
  
  .file-input {
    margin-top: 5px;
  }
  
  .submit-button {
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  